In [8]:
import pandas as pd
import requests
import io

In [9]:
# URLs for EMass 2017-11-11
# http://www.coolrunning.com/results/17/ma.shtml#11

# Format is: URL, results format, division

# 0 = Default format: Place, number, name, ...
# 1 = Place, name, ...

urls_boys = [('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set4.shtml', 0, 1),  ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set5.shtml', 0, 2),  ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set6.shtml', 0, 3),  ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set4.shtml', 0, 4),  ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set5.shtml', 0, 5),  ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set6.shtml', 1, 6)]

urls_girls = [('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set1.shtml', 1, 1), ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set2.shtml', 1, 2), ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set3.shtml', 0, 3), ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set1.shtml', 0, 4), ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set2.shtml', 0, 5), ('http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set3.shtml', 1, 6)]

In [10]:
for url, f, div in urls_boys:
    print(url, f, div)

http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set4.shtml 0 1
http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set5.shtml 0 2
http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_set6.shtml 0 3
http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set4.shtml 0 4
http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set5.shtml 0 5
http://www.coolrunning.com/results/17/ma/Nov11_MIAAEa_1_set6.shtml 1 6

In [11]:
def get_fixed_width_table(webpage, start_string, end_string, first_col_width=3):
    '''
    webpage is a multi-line text object, typically a web page URL
    
    This function ignores any text before it sees the first occurrence of start_string, 
    and any text after end_string
    '''
    
    #print(webpage)
    
    str_tbl = ''
    
    start_flag = False
    end_flag = False
    
    for l in webpage.splitlines():
        
        #print('Line: ' + l)
        
        if end_flag:
            break
        
        if not (start_flag):
            
            # Look for the start string
            if l.find(start_string) >= 0:
                start_flag = True
    
        else:
            
            if l.find(end_string) >= 0:
                end_flag = True
            else:
                # Grab data, if clean:
                if l[0:first_col_width].strip().isdigit():
                    str_tbl = str_tbl + l + '\n'
    
    return str_tbl

In [12]:
# Build the master dataFrame for boys

df_list = []

for u, layout, div in urls_boys:
    results_page = requests.get(u)
    results_table = get_fixed_width_table(results_page.text, '====', 'Team Scores')

    # Convert a string to a string we can send to read_fwf
    io_results_table = io.StringIO(results_table)

    if layout == 1:
        fields=[(0, 3), (0, 0), (4, 30), (30, 32), (33, 54), (0, 0), (55,65), (66, 69)]
    else:
        # Default
        fields=[(0, 3), (4, 9), (10, 30), (30, 32), (33, 56), (57, 65), (66,75), (76, 80)]
  
    df_results = pd.read_fwf(io_results_table, colspecs=fields, names = ['Place', 'Number', 'Name', 'Grade', 'School', 'Pace', 'TimeString', 'Score'] )
    df_results['Division'] = div
    df_list.append(df_results)
    
#    print(df_results.head(10))
    
df_results_boys = pd.concat(df_list)

In [13]:
df_list = []

for u, layout, div in urls_girls:
    results_page = requests.get(u)
    results_table = get_fixed_width_table(results_page.text, '====', 'Team Scores')

    # Convert a string to a string we can send to read_fwf
    io_results_table = io.StringIO(results_table)

    if layout == 1:
        fields=[(0, 3), (0, 0), (4, 30), (30, 32), (33, 54), (0, 0), (55,65), (66, 69)]
    else:
        # Default
        fields=[(0, 3), (4, 9), (10, 30), (30, 32), (33, 56), (57, 65), (66,75), (76, 80)]
  
    df_results = pd.read_fwf(io_results_table, colspecs=fields, names = ['Place', 'Number', 'Name', 'Grade', 'School', 'Pace', 'TimeString', 'Score'] )
    df_results['Division'] = div
    df_list.append(df_results)
    
    print(df_results.head(10))
    
df_results_girls = pd.concat(df_list)

   Place  Number                   Name  Grade        School  Pace TimeString  \
0      1     NaN        Barry, Caroline     12  Newton South   NaN   18:26.95
1      2     NaN      Sheffield, Olivia     12        Lowell   NaN   18:36.07
2      3     NaN          Gavish, Einat     12  Newton North   NaN   18:49.68
3      4     NaN        MvMahon, Vivian      9     Brookline   NaN   19:06.91
4      5     NaN        Dunbury, Nicole      9      Brockton   NaN   19:16.84
5      6     NaN         Fragione, Sara     11       Methuen   NaN   19:19.38
6      7     NaN            Haney, Nell     12       Needham   NaN   19:20.97
7      8     NaN  Barrett-Tzannes, Maya     12     Lexington   NaN   19:22.92
8      9     NaN         Ahern, Lindsey     11        Lowell   NaN   19:30.96
9     10     NaN       Clermont, Nicole     12      Franklin   NaN   19:34.12

   Score  Division
0    1.0         1
1    2.0         1
2    3.0         1
3    4.0         1
4    5.0         1
5    6.0         1
6    7.0         1
7    8.0         1
8    9.0         1
9   10.0         1
   Place  Number               Name  Grade            School  Pace TimeString  \
0      1     NaN    Connolly, Grace     11            Natick   NaN   17:40.87
1      2     NaN  Donahue, Margaret     11         Wellesley   NaN   18:30.98
2      3     NaN    Doherty, Hannah     10         Billerica   NaN   18:50.34
3      4     NaN   Reichheld, Sarah     11  Concord-Carlisle   NaN   18:53.80
4      5     NaN  DeFreitas, Sophie     11   Lincoln-Sudbury   NaN   18:56.44
5      6     NaN      Foley, Ashley     11           Beverly   NaN   18:58.15
6      7     NaN     Andrews, Loren     12         Wellesley   NaN   19:18.41
7      8     NaN        Hurley, Ali     12            Woburn   NaN   19:23.26
8      9     NaN     Laurent, Eline     12  Concord-Carlisle   NaN   19:25.01
9     10     NaN      Aldrich, Ella     10        Winchester   NaN   19:25.42

   Score  Division
0    1.0         2
1    2.0         2
2    3.0         2
3    4.0         2
4    5.0         2
5    6.0         2
6    7.0         2
7    8.0         2
8    9.0         2
9   10.0         2
   Place Number                Name  Grade       School    Pace TimeString  \
0      1   #731   Mitchell, Bridget     12       Milton  5:54.8   18:22.23
1      2  #1060       Sessa, Rachel     12    Tewksbury  6:01.9   18:44.28
2      3   #732      O'Leary, Elise     11       Milton  6:07.5   19:01.64
3      4   #727      Affanato, Ella     11       Milton  6:08.2   19:03.75
4      5  #1056      Paige, Makayla      9    Tewksbury  6:11.7   19:14.75
5      6  #1059      Robinson, Lily     11    Tewksbury  6:11.8   19:15.00
6      7   #883  Peckham, Elizabeth     12  Oliver Ames  6:13.7   19:21.00
7      8  #1096          Costa, Mia      9      Walpole  6:14.5   19:23.32
8      9   #531       Jones, Olivia      9    Hopkinton  6:15.0   19:24.94
9     10   #529    Gooley, Schuyler     10    Hopkinton  6:15.8   19:27.56

   Score  Division
0    1.0         3
1    2.0         3
2    3.0         3
3    4.0         3
4    5.0         3
5    6.0         3
6    7.0         3
7    8.0         3
8    9.0         3
9   10.0         3
   Place Number                Name  Grade           School    Pace  \
0      1   #756     Nobili, Madaket     12           Nauset  5:57.6
1      2  #1171      Walker, Ashley     12         Westwood  6:00.8
2      3   #752        Ellard, Tara     12           Nauset  6:04.9
3      4   #344      McCann, Sydney     12  Dennis-Yarmouth  6:06.7
4      5  #1163       Conant, Sarah     11         Westwood  6:09.0
5      6   #434       Hassman, Abby     10       Foxborough  6:09.4
6      7   #843  Pietrasiewicz, Isa      9           Norton  6:17.8
7      8   #929   Callahan, Jillian     11   Plymouth South  6:18.3
8      9   #755        Nobili, Izzy      9           Nauset  6:20.9
9     10   #436     Nelson, Lindsey     11       Foxborough  6:22.1

  TimeString  Score  Division
0   18:30.85    1.0         4
1   18:40.71    2.0         4
2   18:53.52    3.0         4
3   18:59.31    4.0         4
4   19:06.39    5.0         4
5   19:07.61    6.0         4
6   19:33.65    7.0         4
7   19:35.18    NaN         4
8   19:43.17    8.0         4
9   19:46.95    9.0         4
   Place Number                Name  Grade            School    Pace  \
0      1   #624      Feuerbach, Eve     11  Manchester Essex  6:01.3
1      2  #1016         Avola, Mari     12          Stoneham  6:05.5
2      3  #1076       Grela, Lauren     11  Ursuline Academy  6:07.1
3      4  #1107       Koufos, Emily     12         Watertown  6:10.8
4      5   #991   Tenreiro, Abigail     10           Seekonk  6:11.0
5      6  #1064  Gay-Killeen, Ellie      8            Triton  6:11.4
6      7   #913    O'Keefe, Siobhan     12         Pentucket  6:13.0
7      8   #479     Erhard, Rebecca     12   Hamilton-Wenham  6:13.7
8      9   #332       Francis, Emma     12            Dedham  6:14.7
9     10   #626        Fossa, Holly     12  Manchester Essex  6:16.0

  TimeString  Score  Division
0   18:42.52    1.0         5
1   18:55.28    2.0         5
2   19:00.49    3.0         5
3   19:11.95    4.0         5
4   19:12.54    5.0         5
5   19:13.86    6.0         5
6   19:18.60    7.0         5
7   19:20.83    8.0         5
8   19:23.94    9.0         5
9   19:28.00   10.0         5
   Place  Number                     Name  Grade               School  Pace  \
0      1     NaN     Casaletto, Stephanie   12.0          Austin Prep   NaN
1      2     NaN         Johnson, Rachael   11.0      Coyle & Cassidy   NaN
2      3     NaN          Weber, Margaret   12.0          Austin Prep   NaN
3      4     NaN          McCarthy, Devyn   11.0     West Bridgewater   NaN
4      5     NaN          Kelley, Shannon   12.0  Archbishop Williams   NaN
5      6     NaN             Sousa, Grace    9.0           Georgetown   NaN
6      7     NaN  Ueckert-LaPlante, Nadja   11.0              Ipswich   NaN
7      8     NaN         DelTorchio, Kate   12.0       Bishop Fenwick   NaN
8      9     NaN           Kelly, Bridget   12.0          Austin Prep   NaN
9     10     NaN             Mahoney, Ava   10.0       Bishop Fenwick   NaN

  TimeString  Score  Division
0   18:46.61    1.0         6
1   18:58.95    NaN         6
2   20:02.47    2.0         6
3   20:09.49    3.0         6
4   20:12.21    4.0         6
5   20:36.61    5.0         6
6   20:37.83    6.0         6
7   20:40.58    7.0         6
8   20:50.57    8.0         6
9   20:53.20    9.0         6

In [14]:
print(df_results_boys.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1035 entries, 0 to 161
Data columns (total 9 columns):
Place         1035 non-null int64
Number        873 non-null object
Name          1035 non-null object
Grade         1028 non-null float64
School        1035 non-null object
Pace          873 non-null object
TimeString    1035 non-null object
Score         1017 non-null float64
Division      1035 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 80.9+ KB
None

In [15]:
#df_results_boys = df_results_boys.sort_values('Time')

df_results_boys['Time'] = pd.to_datetime(df_results_boys['TimeString'], format='%M:%S.%f').dt.time
df_results_boys = df_results_boys.sort_values('Time')

df_results_girls['Time'] = pd.to_datetime(df_results_girls['TimeString'], format='%M:%S.%f').dt.time
df_results_girls = df_results_girls.sort_values('Time')

In [16]:
df_results_boys.head(20)

,Place,Number,Name,Grade,School,Pace,TimeString,Score,Division,Time
0,1,#2337,"Shelgren, Tristan",12.0,Saint John's Prep,4:54.5,15:14.75,1.0,1,00:15:14.750000
1,2,#2156,"Mah, Andrew",12.0,Newton North,4:56.7,15:21.76,2.0,1,00:15:21.760000
2,3,#1496,"Aramburu, Lucas",11.0,Brookline,5:05.0,15:47.54,3.0,1,00:15:47.540000
3,4,#2154,"Horsbugh, Ian",10.0,Newton North,5:05.7,15:49.52,4.0,1,00:15:49.520000
4,5,#2137,"McLeod, Cameron",11.0,Needham,5:06.1,15:50.98,5.0,1,00:15:50.980000
0,1,#1297,"Oosting, Ryan",11.0,Arlington,5:06.3,15:51.52,1.0,2,00:15:51.520000
1,2,#2537,"Weiss, Thomas",12.0,Wellesley,5:07.8,15:56.18,2.0,2,00:15:56.180000
5,6,#2561,"Dolan, Jason",12.0,Westford Academy,5:07.8,15:56.29,6.0,1,00:15:56.290000
2,3,#1596,"McClure, Timothy",12.0,Concord-Carlisle,5:08.3,15:57.62,3.0,2,00:15:57.620000
0,1,#2140,"Acquaviva, Sam",11.0,Newburyport,5:09.0,15:59.78,1.0,4,00:15:59.780000
3,4,#2531,"Cervon, Matthew",12.0,Wellesley,5:09.1,16:00.32,4.0,2,00:16:00.320000
6,7,#1890,"Gappelberg, Eli",11.0,Lexington,5:09.1,16:00.36,7.0,1,00:16:00.360000
4,5,#2289,"McNamee, Nick",12.0,Plymouth North,5:09.3,16:00.96,5.0,2,00:16:00.960000
5,6,#1594,"Kessler, Zander",12.0,Concord-Carlisle,5:09.3,16:00.97,6.0,2,00:16:00.970000
6,7,#1876,"Griffin, Mike",10.0,King Philip,5:09.6,16:01.82,7.0,2,00:16:01.820000
7,8,#1904,"Fitzpatrick, Colin",12.0,Lowell,5:09.8,16:02.34,8.0,1,00:16:02.340000
8,9,#1732,"Burgess, Ben",11.0,Framingham,5:09.9,16:02.78,9.0,1,00:16:02.780000
7,8,#2645,"Isles, Anshel",11.0,Woburn,5:10.1,16:03.23,8.0,2,00:16:03.230000
9,10,#1910,"Pinales, Jadiel",11.0,Lowell,5:11.6,16:07.88,10.0,1,00:16:07.880000
8,9,#1975,"Petrov, Kalin",12.0,Mansfield,5:11.8,16:08.55,9.0,2,00:16:08.550000

In [17]:
# This is for convenience when summing runners' relative and overall places
df_results_boys["tmpCnt"] = 1
df_results_boys["RunnerNumber"] = df_results_boys["tmpCnt"].groupby(df_results_boys['School']).cumsum()
df_results_boys["OverallPlace"] = df_results_boys["tmpCnt"].cumsum()

df_results_girls["tmpCnt"] = 1
df_results_girls["RunnerNumber"] = df_results_girls["tmpCnt"].groupby(df_results_girls['School']).cumsum()
df_results_girls["OverallPlace"] = df_results_girls["tmpCnt"].cumsum()

In [23]:
df_results_boys.head(25)

,Place,Number,Name,Grade,School,Pace,TimeString,Score,Division,Time,tmpCnt,RunnerNumber,OverallPlace
0,1,#2337,"Shelgren, Tristan",12.0,Saint John's Prep,4:54.5,15:14.75,1.0,1,00:15:14.750000,1,1,1
1,2,#2156,"Mah, Andrew",12.0,Newton North,4:56.7,15:21.76,2.0,1,00:15:21.760000,1,1,2
2,3,#1496,"Aramburu, Lucas",11.0,Brookline,5:05.0,15:47.54,3.0,1,00:15:47.540000,1,1,3
3,4,#2154,"Horsbugh, Ian",10.0,Newton North,5:05.7,15:49.52,4.0,1,00:15:49.520000,1,2,4
4,5,#2137,"McLeod, Cameron",11.0,Needham,5:06.1,15:50.98,5.0,1,00:15:50.980000,1,1,5
0,1,#1297,"Oosting, Ryan",11.0,Arlington,5:06.3,15:51.52,1.0,2,00:15:51.520000,1,1,6
1,2,#2537,"Weiss, Thomas",12.0,Wellesley,5:07.8,15:56.18,2.0,2,00:15:56.180000,1,1,7
5,6,#2561,"Dolan, Jason",12.0,Westford Academy,5:07.8,15:56.29,6.0,1,00:15:56.290000,1,1,8
2,3,#1596,"McClure, Timothy",12.0,Concord-Carlisle,5:08.3,15:57.62,3.0,2,00:15:57.620000,1,1,9
0,1,#2140,"Acquaviva, Sam",11.0,Newburyport,5:09.0,15:59.78,1.0,4,00:15:59.780000,1,1,10
3,4,#2531,"Cervon, Matthew",12.0,Wellesley,5:09.1,16:00.32,4.0,2,00:16:00.320000,1,2,11
6,7,#1890,"Gappelberg, Eli",11.0,Lexington,5:09.1,16:00.36,7.0,1,00:16:00.360000,1,1,12
4,5,#2289,"McNamee, Nick",12.0,Plymouth North,5:09.3,16:00.96,5.0,2,00:16:00.960000,1,1,13
5,6,#1594,"Kessler, Zander",12.0,Concord-Carlisle,5:09.3,16:00.97,6.0,2,00:16:00.970000,1,2,14
6,7,#1876,"Griffin, Mike",10.0,King Philip,5:09.6,16:01.82,7.0,2,00:16:01.820000,1,1,15
7,8,#1904,"Fitzpatrick, Colin",12.0,Lowell,5:09.8,16:02.34,8.0,1,00:16:02.340000,1,1,16
8,9,#1732,"Burgess, Ben",11.0,Framingham,5:09.9,16:02.78,9.0,1,00:16:02.780000,1,1,17
7,8,#2645,"Isles, Anshel",11.0,Woburn,5:10.1,16:03.23,8.0,2,00:16:03.230000,1,1,18
9,10,#1910,"Pinales, Jadiel",11.0,Lowell,5:11.6,16:07.88,10.0,1,00:16:07.880000,1,2,19
8,9,#1975,"Petrov, Kalin",12.0,Mansfield,5:11.8,16:08.55,9.0,2,00:16:08.550000,1,1,20
0,1,#2491,"Greatorex, Matt",12.0,Wakefield,5:11.9,16:09.01,1.0,3,00:16:09.010000,1,1,21
10,11,#2133,"Keegan, Ben",11.0,Needham,5:11.9,16:09.03,11.0,1,00:16:09.030000,1,2,22
9,10,#2657,"Mariano, John",11.0,Xaverian Brothers,5:12.0,16:09.15,10.0,2,00:16:09.150000,1,1,23
10,11,#2114,"Giersch, Connor",11.0,Natick,5:13.1,16:12.70,11.0,2,00:16:12.700000,1,1,24
11,12,#1576,"Jarnagin, Zachary",12.0,Chelmsford,5:13.2,16:12.81,12.0,2,00:16:12.810000,1,1,25

In [22]:
# Figure out scores

df_results_boys[df_results_boys["RunnerNumber"] < 6].groupby('School').agg({'OverallPlace':'sum'}).sort_values('OverallPlace').head(25)

                     OverallPlace
School
Lowell                        150
Wellesley                     177
Concord-Carlisle              236
Lexington                     258
Newton North                  262
Needham                       306
Durfee                        354
Wakefield                     382
Pembroke                      408
Brookline                     445
Marshfield                    452
Joesph Case HS                503
Saint John's Prep             525
Mansfield                     597
Boston College High           611
Peabody                       614
Xaverian Brothers             722
Pentucket                     739
Methuen                       741
Tewksbury                     743
Chelmsford                    759
Norwell                       763
Franklin                      764
Acton-Boxborough              819
Arlington                     826

In [24]:
df_results_boys[(df_results_boys['School'] == 'Lowell') | (df_results_boys['School'] == 'Wellesley') | (df_results_boys['School'] == 'Concord-Carlisle') ]

,Place,Number,Name,Grade,School,Pace,TimeString,Score,Division,Time,tmpCnt,RunnerNumber,OverallPlace
1,2,#2537,"Weiss, Thomas",12.0,Wellesley,5:07.8,15:56.18,2.0,2,00:15:56.180000,1,1,7
2,3,#1596,"McClure, Timothy",12.0,Concord-Carlisle,5:08.3,15:57.62,3.0,2,00:15:57.620000,1,1,9
3,4,#2531,"Cervon, Matthew",12.0,Wellesley,5:09.1,16:00.32,4.0,2,00:16:00.320000,1,2,11
5,6,#1594,"Kessler, Zander",12.0,Concord-Carlisle,5:09.3,16:00.97,6.0,2,00:16:00.970000,1,2,14
7,8,#1904,"Fitzpatrick, Colin",12.0,Lowell,5:09.8,16:02.34,8.0,1,00:16:02.340000,1,1,16
9,10,#1910,"Pinales, Jadiel",11.0,Lowell,5:11.6,16:07.88,10.0,1,00:16:07.880000,1,2,19
14,15,#1906,"Gibson, Nasir",12.0,Lowell,5:14.4,16:16.72,15.0,1,00:16:16.720000,1,3,34
14,15,#2538,"Zarle, Colby",11.0,Wellesley,5:14.5,16:17.11,15.0,2,00:16:17.110000,1,3,37
15,16,#1905,"Galarza, Chris",12.0,Lowell,5:14.8,16:17.84,16.0,1,00:16:17.840000,1,4,40
16,17,#1911,"Rivera, Carlos",12.0,Lowell,5:14.9,16:18.18,17.0,1,00:16:18.180000,1,5,41
19,20,#1595,"Kleiman, Matthew",11.0,Concord-Carlisle,5:17.7,16:26.96,20.0,2,00:16:26.960000,1,3,55
21,22,#2529,"Barry, Zach",10.0,Wellesley,5:18.5,16:29.29,22.0,2,00:16:29.290000,1,4,58
22,23,#1589,"Chaffin, William",10.0,Concord-Carlisle,5:19.0,16:30.92,23.0,2,00:16:30.920000,1,4,60
24,25,#2534,"Norris, Jason",10.0,Wellesley,5:19.9,16:33.79,25.0,2,00:16:33.790000,1,5,64
32,33,#1909,"O'Neill, Matthew",12.0,Lowell,5:21.6,16:38.95,33.0,1,00:16:38.950000,1,6,80
29,30,#2533,"Kohnen, Nathaniel",10.0,Wellesley,5:22.4,16:41.43,30.0,2,00:16:41.430000,1,6,91
31,32,#1598,"Ratcliffe, Christo",11.0,Concord-Carlisle,5:24.0,16:46.46,32.0,2,00:16:46.460000,1,5,98
37,38,#2535,"O'Neil, Jameson",12.0,Wellesley,5:27.2,16:56.38,38.0,2,00:16:56.380000,1,7,132
53,54,#1908,"Mungai, Martin",12.0,Lowell,5:28.6,17:00.78,54.0,1,00:17:00.780000,1,7,148
74,75,#1591,"Crounse, William",10.0,Concord-Carlisle,5:40.5,17:37.84,75.0,2,00:17:37.840000,1,6,311
95,96,#1597,"Moore, Jackson",12.0,Concord-Carlisle,5:45.7,17:53.91,96.0,2,00:17:53.910000,1,7,383

In [25]:
# Figure out scores

df_results_girls[df_results_girls["RunnerNumber"] < 6].groupby('School').agg({'OverallPlace':'sum'}).sort_values('OverallPlace').head(25)

                     OverallPlace
School
Concord-Carlisle              219
Tewksbury                     236
Wellesley                     239
Tri-County Rvt                267
Milton                        276
Marthas Vineyard              283
Billerica                     296
Lowell                        328
Natick                        355
Bristol-Plym                  385
Lexington                     405
Woburn                        482
Needham                       489
Walpole                       548
Westwood                      576
Brookline                     648
Arlington Catholic            652
Boston Latin School           669
Hopkinton                     673
Hamilton-Wenham               701
Silver Lake                   719
Winchester                    749
Pembroke                      796
Nauset                        806
Bishop Feehan                 823

In [26]:
df_results_girls[(df_results_girls['School'] == 'Tewksbury') | (df_results_girls['School'] == 'Wellesley') | (df_results_girls['School'] == 'Concord-Carlisle') ]

,Place,Number,Name,Grade,School,Pace,TimeString,Score,Division,Time,tmpCnt,RunnerNumber,OverallPlace
1,2,NaN,"Donahue, Margaret",11.0,Wellesley,NaN,18:30.98,2.0,2,00:18:30.980000,1,1,5
1,2,#1060,"Sessa, Rachel",12.0,Tewksbury,6:01.9,18:44.28,2.0,3,00:18:44.280000,1,1,9
3,4,NaN,"Reichheld, Sarah",11.0,Concord-Carlisle,NaN,18:53.80,4.0,2,00:18:53.800000,1,1,14
4,5,#1056,"Paige, Makayla",9.0,Tewksbury,6:11.7,19:14.75,5.0,3,00:19:14.750000,1,2,29
5,6,#1059,"Robinson, Lily",11.0,Tewksbury,6:11.8,19:15.00,6.0,3,00:19:15,1,3,30
6,7,NaN,"Andrews, Loren",12.0,Wellesley,NaN,19:18.41,7.0,2,00:19:18.410000,1,2,32
8,9,NaN,"Laurent, Eline",12.0,Concord-Carlisle,NaN,19:25.01,9.0,2,00:19:25.010000,1,2,43
10,11,#1058,"O'Leary, Holly",12.0,Tewksbury,6:16.7,19:30.15,11.0,3,00:19:30.150000,1,4,51
14,15,NaN,"Bergman, Iris",9.0,Concord-Carlisle,NaN,19:31.17,15.0,2,00:19:31.170000,1,3,53
15,16,NaN,"Su, Ellen",11.0,Concord-Carlisle,NaN,19:31.48,16.0,2,00:19:31.480000,1,4,54
16,17,NaN,"Kerimo, Emma",9.0,Concord-Carlisle,NaN,19:32.76,17.0,2,00:19:32.760000,1,5,55
18,19,NaN,"Bannon, Nora",10.0,Wellesley,NaN,19:37.96,19.0,2,00:19:37.960000,1,3,65
19,20,NaN,"Ulian, Bridget",11.0,Wellesley,NaN,19:41.49,20.0,2,00:19:41.490000,1,4,67
20,21,NaN,"Hershelman, Julia",11.0,Wellesley,NaN,19:42.58,21.0,2,00:19:42.580000,1,5,70
21,22,NaN,"Johnson, Nora",9.0,Concord-Carlisle,NaN,19:45.96,22.0,2,00:19:45.960000,1,6,73
23,24,#1061,"Veits, Devyn",11.0,Tewksbury,6:29.8,20:10.92,24.0,3,00:20:10.920000,1,5,117
41,42,NaN,"Jin, Lucy",12.0,Concord-Carlisle,NaN,20:29.30,42.0,2,00:20:29.300000,1,7,163
65,66,NaN,"Ahonen, Grace",12.0,Wellesley,NaN,20:59.64,66.0,2,00:20:59.640000,1,6,269
67,68,NaN,"Maggioni, Isabelle",11.0,Wellesley,NaN,21:02.05,68.0,2,00:21:02.050000,1,7,275
110,111,#1054,"Eskenas, Abby",12.0,Tewksbury,7:30.1,23:18.29,109.0,3,00:23:18.290000,1,6,654
112,113,#1053,"DeMatos, Sophia",11.0,Tewksbury,7:34.4,23:31.58,111.0,3,00:23:31.580000,1,7,682

In [ ]:
df_results_boys[df_results_boys["RunnerNumber"] == 6]